@import '../../Styles/abstracts/_vars.scss';
@import '../../Styles/abstracts/_functions.scss';
@import '../../Styles/abstracts/_media-queries.scss';
@import '../../Styles/abstracts/_bit-css-variables.scss';

.header {
    top: 0;
    width: 100%;
    display: flex;
    align-items: end;
    flex-flow: row nowrap;
    padding-block: rem2(7px);
    padding-inline: rem2(16px);
    justify-content: space-between;
    box-shadow: $bit-box-shadow-callout;
    background-color: $bit-color-background-primary;
    min-height: calc(rem2(48px) + var(--bit-status-bar-height));

    .bit-ios & {
        min-height: calc(rem2(48px) + env(safe-area-inset-top));
    }
}

.logo-lnk {
    cursor: pointer;
    height: rem2(32px);
    min-width: rem2(24px);
    border-radius: rem2(4px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('images/bit-logo.svg');
}

.header-contact {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

::deep {
    .header-menu {
        display: none;
        margin-inline-end: rem2(12px);

        @include lt-lg {
            display: block;
        }
    }

    .header-item {
        padding: rem2(4px) rem2(16px);

        @include lt-lg {
            padding: rem2(4px) rem2(8px);
        }

        @include lt-md {
            padding: rem2(4px) rem2(4px);
        }
    }
}
