@inherits LayoutComponentBase

<CascadingValue Value="currentDir">
    <div dir="@currentDir?.ToString()" class="layout">
        <div class="status-bar">Boilerplate</div>
        <Header OnToggleMenu=ToggleMenuHandler />

        <main class="@BitCss.Class.Color.Background.Primary">
            @if (isUserAuthenticated)
            {
                <NavMenu @bind-IsMenuOpen=isMenuOpen />
            }
            <div class="main-content">
                <AppErrorBoundary>
                    @Body
                </AppErrorBoundary>
            </div>
        </main>

        <Footer />

        <MessageBox />
    </div>
</CascadingValue>